{% extends "base.html" %}
{% block content %}
<h1 align="center">Add Student to Batches</h1>
<form action="" method="post">
{% csrf_token %}
<table align="center" border="1px">
    <tr>
        <td>Select Students</td>
        <td>
            <select name="students" multiple>
                {% for i in st %}
                  <option value="{{i.student.user_id}}">{{i.student.name}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>Batch start date</td>
        <td><input type="date" name="start_date" ></td>
    </tr>
    <tr>
        <td>Trainer</td>
        <td>
            <select name="trainer" >
                {% for i in t %}
                  <option value="{{i.id}}">{{i.trainer_name}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>Batch name</td>
        <td><input type="text" name="bname" ></td>
    </tr>
    <tr>
        <td colspan="2" align="center"><input type="submit" value="submit"></td>
    </tr>
</table>
</form>
{% endblock %}