<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
    <style>
        .log
        {
            background-color: bisque;
            height: 200px;
            width: 400px;
            margin-top: 200px;
            margin-left: 550px;
            padding-top: 100px;
        }
    </style>
</head>
<body style="background-color: brown;">
    <h1 align="center">log into your account</h1>
    <div class="log">
    <form action="" method="post">
        {% csrf_token %}
        <table align="center" >
            <tr>
                <td>Username</td>
                <td><input type="text" name="email" ></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" ></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="login"></td>
            </tr>
        </table>
    </form>
    <h4 align="center">{% for i in messages %}
  {{i}}
{% endfor %}
</h4>
    </div>

</body>
</html>
